body{
	background-color: #d9d9d9;
	
}
header{
	text-align: center;
	font-family: 'Pacifico';
}
a{
	text-decoration: none;
	cursor: pointer;
	color: black;
}
.grid-container{
	display: grid;
	grid-gap: 0px;
	justify-content: center;
}
.border{
	border: 15px solid #333;
	background-color: #333;
}
.item{
  	display: flex;
  	justify-content: center;
  	align-content: center;
  	flex-direction: column;
	text-align: center;
	width: 60px;
	height: 60px;
	border: 2px solid black;
  	border-radius: 3px;
  	background-color:#f4f4e9;
}
.row{
	display: flex;
}
.dark{
	background-color:#c4c4bb;
	border-radius: 5px;
	font-size: 33px;
}
@media only screen and (max-width: 600px) {
	.item{
		width: 30px;
		height: 30px;
	}
	.dark{
		border-radius: 2px;
		font-size:22px;
	}
	.border{
		border: 5px solid #333;
	}
} 